# Dependencies
node_modules/

# Build outputs
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Env
.env
.env.*

# TypeScript
*.tsbuildinfo


